$primary-color: #193a94;
$secondary-color: #009b2c;
$text-color-dark: #333;
$text-color-light: #fff;
$bg-color-light: rgb(223, 223, 223);
$bg-color-dark: #333;
//$footer-height: 100px;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
