.nav-menu {
  background: lighten($bg-color-dark, 20);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  display: inline;
  flex-grow: 1;
  text-align: center;
}

.nav-link {
  color: $text-color-light;
  @include easeOut;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0.5rem;

  &.current {
    background-color: $bg-color-dark;
  }

  &:hover {
    background-color: $bg-color-dark;
  }
}

// Responsive Nav button
.nav-button {
  display: none;
  position: absolute;
  font-size: 3.5rem;
  z-index: 3;
  right: 10px;
  top: 1px;
  cursor: pointer;
  @include easeOut;

  &.close {
    color: $text-color-light;
  }
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba($bg-color-dark, 0.8);
  overflow: auto;
  z-index: 2;
  @include easeOut;
  transform: translate3d(0, -100%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  ul {
    list-style-type: none;
  }

  a {
    color: $text-color-light;
    font-size: 4rem;
  }

  a:hover {
    color: $primary-color;
  }

  &.show {
    transform: translate3d(0, 0, 0);
  }
}
