@import "config";
@import "typography";
@import "navmenu";

@import "form";
@import "footer";

// General stuff
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: $primary-color;
  margin-bottom: 1rem;
}

body {
  background: $bg-color-light;
  color: $text-color-dark;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem 2rem 3rem 2rem;
}

// Home page
#home {
  margin-top: 20vh;
  text-align: center;
  h1 {
    color: $primary-color;
  }

  .secondary {
    color: $secondary-color;
  }
}

// About page
#about {
  width: 80%;

  img {
    float: left;
    margin: 2rem;
    border-radius: 5px;
  }

  p {
    margin: 2rem;
  }

  h2 {
    margin-bottom: 3rem;
  }

  .skillset {
    font-size: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;
    justify-items: center;
  }
}

// Projects page
.projects {
  margin-top: 2vh;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px $bg-color-dark solid;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      border-color: $primary-color;
      @include easeOut;
    }
  }
  .btn {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
  }

  .btn-dark {
    @extend .btn;
    background: $bg-color-dark;
    color: $text-color-light;
    &:hover {
      background: lighten($bg-color-dark, 20);
    }
  }

  .btn-light {
    @extend .btn;
    background: $bg-color-light;
    border: 2px solid $bg-color-dark;
    color: $text-color-dark;
    &:hover {
      background: darken($bg-color-light, 20);
    }
  }
}

// 404 page
#fool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import "responsive";
