<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    {% include navigation.html %} {{ content }}

    <footer>
      <div class="icons">
        <a href="#!"> <i class="fab fa-twitter fa-2x"></i> </a>
        <a href="#!"> <i class="fab fa-facebook fa-2x"></i> </a>
        <a href="#!"> <i class="fab fa-linkedin fa-2x"></i> </a>
        <a href="#!"> <i class="fab fa-github fa-2x"></i> </a>
      </div>
      <div class="copy">Copyright &copy; 2018</div>
    </footer>

    <script src="assets/js/main.js"></script>
  </body>
</html>
